{% load static %}
<link rel="stylesheet" href="{% static 'partials/footer.css' %}" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<head>
  <style>
    a {
      color: aliceblue;
      text-decoration: none;
    }
    a:hover {
      color: antiquewhite;
    }

  </style>
</head>

<footer class="foo">
  <div class="footer d-block w-100">
    <!-- <a class="footer-brand" href="{% url 'home:home' %}"><img src="{% static 'images/logo.svg'%}" alt="Arcane" class="arcane"></a> -->
    <p class="text-center"> &copy; <a href="https://www.ieeesbnitdgp.com" target="_blank">IEEE SB NIT Dgp</a> 2021</p>
      <!-- <img src="{% static 'images/ieee.svg'%}" alt="IEEE" class="ieee" /> -->
    <!-- <div class="contact">
      <div class="clinks">
        <div class="cfb">
          <a
            href="https://www.facebook.com/nitdgpieeesociety/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="cinsta">
          <a
            href="https://www.instagram.com/ieeesb_nitdgp/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="cln">
          <a
            href="https://www.linkedin.com/company/ieeesbnitdgp/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div> -->
  </div>
  <style>
    .footer{
      position: absolute;
      opacity: 0.8;
      bottom: 0;
      backdrop-filter: blur(5px);
    }
  </style>
</footer>