

body
{
    background-color: black;
    font-family: 'Darker Grotesque';
    color: white;
    font-weight: normal;
}
.imgpos{
    align-content: center;
}

  .bro{
    align-items: center;
    right: 1164px;  
  }
  .bro img 
  {
      height: 700px;
      width: 700px;
      z-index: 100000000;
  }
  .over{
    color: #ffff;
    font-size: 62px ;
    font-weight: 700;
    /* margin-top:  190px; */
    margin-left: 25px;
  }
  .textedits{
      margin:10px;
      font-size: 28px;
      margin-left: 73px;
  }
  .smth{
padding: 90px;
  }

  /* button */

   .buttons-container{
    display: flex;
    /* background: purple; */
    width: 100%;
    justify-content: space-around;
} 
.buttons-container button{
    background: transparent !important;
    border-radius: 12px;
    border: 2px solid #66FCF1;
    padding: 8px 60px;
    color: #C5C6C8;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
    margin-right:  92px;
}


/* Dots Css*/
.top-left{
    position: absolute;
    z-index: 10000;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
}
.top-left svg:first-child{
    margin-bottom: 40px;
}

.top-right{
    position: absolute;
    z-index: 10000;
    top: 37px;
    right: -23px;
    font-size: 16px;
    display: flex;
    overflow: hidden;
    transform: rotate(180deg)
}
.top-right {
    display: flex;
}
.top-right svg{
    margin-bottom: 40px;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    bottom: 50px;
}


@media (max-width: 991px)
{

.dots
{
    display: none;
}

.bro img 
{
   
    height: 350px;
    width: 350px;
}
.over{
    color: #ffff;
    font-size: 32px ;
    font-weight: 600;
    margin-top: 0px;
/* margin-left: 120px; */
  }
  .textedits{

      font-size: 28px;
  }
  .smth{
padding: 0px;
  }

  
  .buttons-container{
    display: flex;
    /* background: purple; */
    width: 100%;
    justify-content: space-around;
} 
.buttons-container button{
    background: transparent !important;
    border-radius: 12px;
    border: 2px solid #66FCF1;
    padding: 4px 25px;
    color: #C5C6C8;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 90px;
}
.alignments{
-moz-box-align: center;
align-content: center;
}
 .textedits

{
/* background-color: blue; */
margin: 0;
padding: 0;
padding-right: 10px;
}
}