<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap  -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">


    {% block title %}<title>Arcane</title>{% endblock %}


    <!-- Meta Tags  -->

    <meta name="description" content="text"> 
	<meta property="og:image"                content="{% static 'images/favicon.png' %}" />
	<meta property="og:type"               content="online treasure hunt" />

	<meta property="og:description"        content="IEEE SB NIT Durgapur is enthralled to present ' Arcane ', an epic quest that will unleash the inner explorer in you into seemingly impenetrable conundrums and unravel the intricate secrets out of the thin air.
	" />

</head>

<body>
    
    <div class="container-fluid" id="main">

        {%  include 'partials/_navbar.html' %}

        <!-- <br/> -->
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
        <br/>

        {%  include 'partials/_footer.html' %}
        
    </div>

    <script>
        console.log(`%c             ..*/////#&&&&&&&&%/#///////*...                                                 .////.                                                     ....,///////(((///(///*.               
       ,#&@@@%%%(/**,...       .....*(/#%%@&%&%@@@@@&#(,,                              .(&@@@@@@@@&@@@@@%#*                                ,/#%&@@@@@@@@@@@@&#//............/*/***/%%@@@@&(.      
   *&@&*    ,(&%@/       *%@@@@&&#*           ,/,     ,*#%@@@@%#*.                   ,@@@@@*.  // . ., ,&%@@(                   ..*#&@@@@&#*,*#/.    .         /@@@@@@&*   &@@#/*  *.  ,*%&&@%.
 /@@# . /*.  .#@*        (@@.     *(((,...*((((%@&(#@@%,  ,/#%%##&@@@@&(,            ,&@@&.   .      ..*. .               ,(&@@@&%/.     ,#@#,   ......   ,/(((@&/       .,#&(,    ..,/#/(/,,   
,@@@,   ,#@&(,    .*#* ./(*/(   .*.   ,...    ,      .*%%@@@@@@%#,*/&&%#%@@@%#.        /@@(*  (@%    ,@&.**        .*%@@@&#*.    */#&@@@&#.     .., ...,*(#/.     ,    ..  (&%,   ,(##&@#.,%*   
 ,#%#//@(    /&@@#*         /&@@&.    .*/%%%%%%%%#*..**../#%%/*,/%@@&&&&@@#&@@@@@@%*  #@@@&,@@@@# %@@@&.  ,( ,(&@@@@&/. ,(%@@@@%((.      .    ,/(%%%%%%//*(%%/. ##@/      *&&#((#&&*.*%@&(.             
    , *%#/@@@@*    ,#@@@*.. #@%.  .(//...    .,.  .,,(@@#/**.*      *&&@@&@@# ..,/#@@@@@@@&,//(*.  . .  *,#@@@&&&/.,%(,#(( ,,..**.  /%&%@@%@&/,,/        .*/(/       ../&@&@@/..#@/#&%(.       
         .  /#,#%@@#.   /%@&*#&/,      ,#%@@%*          .,*(#&@@@@@%((/*,. ,%#.  ,%&.%@@&,     .      . *@@#  ///.  .,*.,/(%@@@@@@%#/,../(   ,/* .#@@@&%/.  *%#     /@@@%(//. /@@&,            
             , ./%, .,&@@#,  .,/*  .,%#@&#*  .,(%&@@@@@@&%#//*.      .(#/.      *@@%&#,.    ,&@%    ./@&.  / /#.  ./#/*.   *(##(/,,,,(%&@@@@&%%%(#(/%%%%&%/    ./#/%@@(,#@&(&@(                   
                */((((*    *@&#//.  .,%@&. /&%/..  .#/.    .,((#, .           ..  ..&@@#. .,*@@&   ,&@@%        ((//.   .../(##/*.,..,/#((*,(*..**(@@%,   ... /@%.,(&/.%(*/.                   
                   .*##&%&@&*    /@@@&/.        *@@@../&@#,                       *%@@@@&,*@@@&. %@@@@/ .*.*        .**.           *%//@%/(@%*/ .*#( .  . ,%/*#.*%#, (&(.                      
                        ,//@%/(&&%#     *%(((,..(&@/ ,(/*.                        /%@@@&.*.    .  ..   / ..  ,                       .#&@@@@%, /((((#%%&%#/,/&%&&%(,                            
                              *,.*,,       *%&@@&#*   ./#,                         /@&@&     ,/#,, .*..  ,                             /&@#*,,(&@@@((*(.                                       
                                       *&@&(.    .,%@&(/&&#                       ./@@@(  ..,     ,(,*     (#                         %@@@/,...  ,&&(#@@%,                                     
                                     ,@@@/,(#/..  *&&#&,                           #@@@. .((#.      .#%,    .                        ,@@@*      ,*(#@@((##&.                                   
                                     %@@#   ,#@@@#/,. .   ,,                        #@@/     .(&,  .  ,                              &@@*    ./%@@&&&&((,                                      
                                     .%@@%(@(,  .(@@/                               %@@(  .*,      ,*(%/      /                      &@%       .(@&(%@@@*                                      
                                       .%@&&*,&@#. ,&&. .  ,@#                      &@@*      ((    .(#       ,#                   ,&@@&    .,%%%&&&@.                                          
                                           /%(/%.(@#  %@, .&.  .                    /@@&.     **   .*,     .&  ,(                 ,&@#.(&*#,(#&@@%.                                            
                                               (#(#%(*,  %&*,((/%&%(*                %@@/   ,,@(  ,.       (*   .(.         .#&@@@&&&(,&@%%(/..                                                 
                                                   .*(*             ,/               ,@@@(    ,.                   ,,         .*/*,                                                            
                                                                                      .@@%, ./(,*,*,                                                                                           
                                                                                        %@@/                                                                                                   
                                                                                        .&@@/                                                                                                  
                                                                                         .@@@/                                                                                                 
                                                                                           ,@@&,                                                                                               
                                                                                             &@@*                                                                                              
                                                                                              ./(.                                                                                             `, 
        `font-size: 12px; color: #20C20E; background-color: black;`);
    </script>
</body>

</html>
