<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Leaderboard</title>
</head>
<body>
    <h3>
        Detailed Leaderboard
    </h3>

    <table class="table">
        <thead>
          <tr>
         
            <th scope="col">Name </th>
            <th scope="col">Score</th>
            <th scope="col">Last Submit</th>
          </tr>
        </thead>
        <tbody>
            {% for player in leaderboard %}
          <tr>
          
            <td>{{player.name}}</td>
            <td>{{player.score}}</td>
            <td>{{player.last_submit.time}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      
</body>
</html>