{% extends 'base.html'%} {% load static %}

{% block title%}
<link rel="stylesheet" href="{%static 'user/leaderboard.css' %}">
<title>Leaderboard</title>
{% endblock %}

{% block content %}

<div class="dots" id="d1">
    <img src="/static/images/Ornament 17.svg" class="dotss1">
    <img src="/static/images/Ornament 17.svg" class="dotss2">
</div>
<div class="dots" id="d2">
    <img src="/static/images/Ornament 17.svg" class="dotss1">
    <img src="/static/images/Ornament 17.svg" class="dotss2">
</div>
<div class="dots" id="d3">
    <img src="/static/images/Ornament 17.svg" class="dotss1">
    <img src="/static/images/Ornament 17.svg" class="dotss2">  
</div>

<div class="content d-flex">
    <div class="topper">
        <div class="tcard d-flex flex-column">
            {% for top in leader%}
            <img src="{{top.image}}" alt="{{top.name}}" class="tpic" />
            <h3 class="thname">
                {{top.name}}
            </h3>
            <h3 class="tscore">
                <span>{{top.score}}</span>
                <br>
                Score
            </h3>
            {% endfor %}
        </div>
    </div>
    <div class="box d-flex flex-column">
        <br />
        <div class="search">
            <input type="text" id="searchbox" placeholder="Search Your Name Here ...." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Your Name Here ....'" />
            <i class="fas fa-search"></i>
            <br />
        </div>
                
        <div class="list d-flex flex-column">
            {% for player in leaderboard %}
            <div class="item">
                <img src="{{ player.image }}" alt="">
                <div></div>
                <div class="name">
                    {{ player.name }}
                </div>
                <div class="score">
                    {{ player.score }}
                </div>
                <!-- <td>
                    {{ player.last_submit.time }}
                </td> -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    

<!-- <div class="parallax"></div> -->

<script type="text/javascript">
    var no = "{{n}}";
    console.log(no);
    $(document).ready(function() {
        $("#searchbox").on("keyup", function() {
            for (i = 0; i < no; i++) {
                let inp = document.querySelector("#searchbox").value;
                let msg = document.querySelector(".searchResult");
                let org = document.querySelectorAll(".item")[i];
                if (
                    org
                    .querySelector(".name")
                    .innerText.toUpperCase()
                    .indexOf(inp.toUpperCase()) > -1
                ) {
                    org.style.display = "";
                } else {
                    org.style.display = "none";
                }
            }
        });
    });

    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function (){
        var body_height = $('body').height();
        var header_height = $('nav').height();
        var footer_height = $('footer div').height();
        var box_height =(body_height-(header_height+footer_height)-48-16);
        console.log(body_height, header_height, footer_height, box_height);

        // if(window.matchMedia("(max-width: 980px)").matches){
        //     var topper_height = $('.topper').outerHeight(); 
        //     box_height = box_height - topper_height-32+16;
        // }
        $('.content .box').css("height",box_height+"px");
    })
</script>



{% endblock %}
